.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.home-content {
  display: flex;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.mwr {
  color: var(--gray);
}

.a-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
  height: 100vh;
  padding: 32px 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.nav-btns {
  display: flex;
  gap: 4px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 6px 8px;
  font-size: 12px;
  line-height: 1;
  border-radius: 8px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--light-gray);
  transition: transform 0.25s ease;
}

.btn svg {
  color: var(--gray);
}

.nav-btns .btn:nth-child(1) {
  padding-left: 4px;
}

.nav-btns .btn:nth-child(2) {
  padding-right: 4px;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-primary {
  color: var(--white);
  background-color: var(--orange);
}
