@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --gray: #999;
  --light-gray: #f9f9f9;
  --medium-gray: #e0e0e0;
  --dark-gray: #1a1a1a;
  --purple: #646cff;
  --light-purple: #747bff;
  --dark-purple: #535bf2;
}

a {
  font-weight: 500;
  color: var(--purple);
  text-decoration: inherit;
}
a:hover {
  color: var(--dark-purple);
}

body {
  font-family: 'Inter', serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -1px;
}

button {
  all: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-gray);
    background-color: var(--white);
  }
  a:hover {
    color: var(--light-purple);
  }
  button {
    background-color: var(--light-gray);
  }
}
