@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --gray: #999;
  --light-gray: #f9f9f9;
  --medium-gray: #e0e0e0;
  --dark-gray: #1a1a1a;
  --orange: #f77e0d;
}

a {
  color: var(--orange);
  text-decoration: none;
}

body {
  font-family: 'Inter', serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -1px;
}

button {
  all: unset;
}
